@model InYourInterest.ViewModels.Posts.PostsDetailsViewModel

<button type="button" class="tt-icon-btn" style="padding: 0; border:none; background:none; outline: none; color: #666f74" onclick="likeReaction('@Model.Id', 'PostReactions', 'post')">
    <i class="tt-icon"><img src="~/images/like.svg" alt="like" /></i>
    <span id="post-likes-@Model.Id" class="tt-text">@Model.Likes</span> 
</button>
<button type="button" class="tt-icon-btn" style="padding: 0; border:none; background:none; outline: none; color: #666f74" onclick="loveReaction('@Model.Id', 'PostReactions', 'post')">
    <i class="tt-icon"><img src="~/images/love.svg" alt="love" /></i>
    <span id="post-loves-@Model.Id" class="tt-text">@Model.Loves</span>
</button>
<button type="button" class="tt-icon-btn" style="padding: 0; border:none; background:none; outline: none; color: #666f74" onclick="hahaReaction('@Model.Id', 'PostReactions', 'post')">
    <i class="tt-icon"><img src="~/images/haha.svg" alt="haha" /></i>
    <span id="post-haha-@Model.Id" class="tt-text">@Model.HahaCount</span>
</button>
<button type="button" class="tt-icon-btn" style="padding: 0; border:none; background:none; outline: none; color: #666f74" onclick="wowReaction('@Model.Id', 'PostReactions', 'post')">
    <i class="tt-icon"><img src="~/images/wow.svg" alt="wow" /></i>
    <span id="post-wow-@Model.Id" class="tt-text">@Model.WowCount</span>
</button>
<button type="button" class="tt-icon-btn" style="padding: 0; border:none; background:none; outline: none; color: #666f74" onclick="sadReaction('@Model.Id', 'PostReactions', 'post')">
    <i class="tt-icon"><img src="~/images/sad.svg" alt="sad" /></i>
    <span id="post-sad-@Model.Id" class="tt-text">@Model.SadCount</span>
</button>
<button type="button" class="tt-icon-btn" style="padding: 0; border:none; background:none; outline: none; color: #666f74" onclick="angryReaction('@Model.Id', 'PostReactions', 'post')">
    <i class="tt-icon"><img src="~/images/angry.svg" alt="angry" /></i>
    <span id="post-angry-@Model.Id" class="tt-text">@Model.AngryCount</span>
</button>